doctype html
html(lang="en" ng-app="noPostcards")
  head
    meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
    title no postcards
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vast+Shadow" type="text/css")
    link(rel="stylesheet" href="/styles/fonts/webfontkit-20160307-145908/stylesheet.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    link(rel="stylesheet" href="/styles/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src="../scripts/scripts.js" charset="utf-8")
    script(src="../scripts/app.js" charset="utf-8")
    script(src="../scripts/controllers/contactController.js" charset="utf-8")
    script(src="../scripts/services/contactsApi.js" charset="utf-8")
  body
    div(class="container" ng-controller="contactsController")

      header
        h1 NO POSTCARDS

      section
        h5 i'll be in europe from march 9th to the 31st.
        h5 sign up for a postcard! or two! or three! or four!
        h5 okay, that's enough...

      form(name="contactForm" class="contact-info col s12" ng-submit="post()")
        div(class="row")
          div(class="col s6")
            label(for="first-name") First Name
            input(type="text" ng-model="newContact.firstname" name="firstname" placeholder="First Name" required)
          div(class="col s6")
            label(for="last-name") Last Name
            input(type="text" ng-model="newContact.lastname" name="lastname" placeholder="Last Name" required)
        div(class="row")
          div(class="col s12")
            label(for="address-one") Address 1
            input(type="text" ng-model="newContact.addressone" name="addressone" placeholder="Address 1" required)
        div(class="row")
          div(class="col s12")
            label(for="address-two") Address 2
            input(type="text" ng-model="newContact.addresstwo" name="addresstwo" placeholder="Address 2")
        div(class="row")
          div(class="col s6")
            label(for="city") City
            input(type="text" ng-model="newContact.city" name="city" placeholder="City" required)
          div(class="col s3")
            label(for="state") State
            input(type="text" ng-model="newContact.state" name="state" placeholder="State")
          div(class="col s3")
            label(for="zip-code") Zip Code
            input(type="text" ng-model="newContact.zipcode" name="zipcode" placeholder="Zip Code" max=5 required)
        div(class="row")
          div(class="col s12")
            label(for="countries") Select Countries
        div(class="row countries")
          div(class="col s2")
            input(ng-click="countryCheck('london')" id="london" type="checkbox" name="countries" value="london")
            label(class="country-label" for="london") London
          div(class="col s2")
            input(ng-click="countryCheck('paris')" id="paris" type="checkbox" name="countries" value="paris")
            label(class="country-label" for="paris") Paris
          div(class="col s2")
            input(ng-click="countryCheck('venice')" id="venice" type="checkbox" name="countries" value="venice")
            label(class="country-label" for="venice") Venice
          div(class="col s2")
            input(ng-click="countryCheck('rome')" id="rome" type="checkbox" name="countries" value="rome")
            label(class="country-label" for="rome") Rome
          div(class="col s2")
            input(ng-click="countryCheck('positano')" id="positano" type="checkbox" name="countries" value="positano")
            label(class="country-label" for="positano") Positano
          div(class="col s2")
            input(ng-click="countryCheck('milan')" id="milan" type="checkbox" name="countries" value="milan")
            label(class="country-label" for="milan") Milan
        div(class="row")
          div(class="col s12")
            label(id="notes" for="notes") Notes
            input(type="textarea" name="notes" ng-model="newContact.notes" placeholder="Leave a note" class="notes")
        div(class="row")
          div(class="col s12")
            button(type="submit" name="button" class="btn") Submit
