doctype html
html(lang="en")
  head
    meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
    title no postcards
    link(href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    link(rel="stylesheet" href="/styles/styles.css")
    script(src="/scripts/scripts.js" charset="utf-8")
  body
    div(class="container")

      header
        h1 no postcards

      section
        h5 sign up for a postcard!
        h5 or two! or three! or four!
        h5 okay, that's enough.

      form(class="contact-info col s12")
        div(class="row")
          div(class="col s6")
            label(for="first-name") First Name
            input(type="text" name="name" placeholder="First Name" required)
          div(class="col s6")
            label(for="last-name") Last Name
            input(type="text" name="name" placeholder="Last Name" required)

        div(class="row")
          div(class="col s12")
            label(for="address-one") Address 1
            input(type="text" name="name" placeholder="Address 1" required)
        div(class="row")
          div(class="col s12")
            label(for="address-two") Address 2
            input(type="text" name="name" placeholder="Address 2")
        div(class="row")
          div(class="col s6")
            label(for="city") City
            input(type="text" name="name" placeholder="City" required)
          div(class="col s3")
            label(for="state") State
              input(type="text" name="name" placeholder="State")
          div(class="col s3")
            label(for="zip-code") Zip Code
            input(type="text" name="name" placeholder="Zip Code" max=5 required)
        div(class="row")
          div(class="col s12")
            label(for="countries") Select Countries
        div(class="row countries")
          div(class="col s2")
            p
              input(id="london" type="checkbox" name="name" value="london")
              label(for="london") London
          div(class="col s2")
            p
              input(id="paris" type="checkbox" name="name" value="paris")
              label(for="paris") Paris
          div(class="col s2")
            p
              input(id="venice" type="checkbox" name="name" value="venice")
              label(for="venice") Venice
          div(class="col s2")
            p
              input(id="rome" type="checkbox" name="name" value="rome")
              label(for="rome") Rome
          div(class="col s2")
            p
              input(id="positano" type="checkbox" name="name" value="positano")
              label(for="positano") Positano
          div(class="col s2")
            p
              input(id="milan" type="checkbox" name="name" value="milan")
              label(for="milan") Milan
        div(class="row")
          div(class="col s12")
            input(class="btn waves-effect waves-light" type="submit" name="name" value="Submit")
