body {
  background-color: oldlace;
  font-family: 'neoretrodrawregular';
  text-align: center;
  color: #080808;
  padding: 50px;
}

h1 {
  font-size: 70px;
  margin: 0;
}

h4 {
  margin-top: 50px;
}

h5 {
  font-family: 'print_clearlyregular';
  font-size: 24px;
  color: chocolate;
}

header {
  margin: 10px;
}

section {
  margin: 20px;
}

form {
  color: #080808;
}

input {
  font-family: 'print_clearlyregular';
  text-align: center;
  color: chocolate;
}

label {
  font-size: 24px;
  color: #080808;
}

.notes {
  height: 100px;
  width: 100%;
}

.country-label {
  font-family: 'print_clearlyregular';
  color: chocolate;
}

.btn {
  background-color: #080808;
}
